In [60]:
from pyomeca import Markers
data_path = r"C:\Users\konra\! PJATK\PJATK2020\2020-08-06-B0445-S01-E01-T01.c3d"



markers = Markers.from_c3d(data_path, channel=['B0444:LFHD'])

TypeError: from_c3d() got an unexpected keyword argument 'channel'

In [63]:
channels = ["B0445:LASI"]
markers = Markers.from_c3d(data_path, usecols=channels)

In [64]:
m = markers.meca.to_wide_dataframe()

In [65]:
m

        ones_B0445:LASI  x_B0445:LASI  y_B0445:LASI  z_B0445:LASI
time
0.000               1.0   -550.907471   -343.689270   1045.763550
0.005               1.0   -550.745178   -343.751617   1045.683960
0.010               1.0   -550.579834   -343.814270   1045.607178
0.015               1.0   -550.411438   -343.877289   1045.533325
0.020               1.0   -550.239929   -343.940643   1045.462280
...                 ...           ...           ...           ...
24.285              1.0   -535.694336   -208.240829   1053.546753
24.290              1.0   -535.672119   -208.281937   1053.554810
24.295              1.0   -535.650818   -208.325089   1053.562500
24.300              1.0   -535.630432   -208.370255   1053.570068
24.305              1.0   -535.610901   -208.417465   1053.577393

[4862 rows x 4 columns]

In [66]:
cols = [c for c in m.columns if c.lower()[:4] != 'ones']

In [68]:
m[cols]

        x_B0445:LASI  y_B0445:LASI  z_B0445:LASI
time
0.000    -550.907471   -343.689270   1045.763550
0.005    -550.745178   -343.751617   1045.683960
0.010    -550.579834   -343.814270   1045.607178
0.015    -550.411438   -343.877289   1045.533325
0.020    -550.239929   -343.940643   1045.462280
...              ...           ...           ...
24.285   -535.694336   -208.240829   1053.546753
24.290   -535.672119   -208.281937   1053.554810
24.295   -535.650818   -208.325089   1053.562500
24.300   -535.630432   -208.370255   1053.570068
24.305   -535.610901   -208.417465   1053.577393

[4862 rows x 3 columns]

In [69]:
markers = Markers.from_c3d(data_path)

In [70]:
m = markers.meca.to_wide_dataframe()

In [71]:
cols = [c for c in m.columns if c.lower()[:4] != 'ones']

In [72]:
m[cols]

,x_*120,x_B0445:C7,x_B0445:CLAV,x_B0445:CentreOfMass,x_B0445:CentreOfMassFloor,x_B0445:HEDA,x_B0445:HEDL,x_B0445:HEDO,x_B0445:HEDP,x_B0445:HeadCOM,...,z_B0445:TRXA,z_B0445:TRXL,z_B0445:TRXO,z_B0445:TRXP,z_B0445:ThoraxCOM,z_Miecz:Miecz1,z_Miecz:Miecz2,z_Miecz:Miecz3,z_Miecz:Miecz4,z_Miecz:Miecz5
time,,,,,,,,,,,,,,,,,,,,,
0.000,0.0,-434.956329,-413.892303,-424.244659,-424.244659,-368.991425,-699.058105,-448.482452,-405.594025,-407.147095,...,1475.713867,1490.093750,1489.696411,1296.369141,1308.971069,1632.029663,1493.857300,1548.802856,1514.669556,1559.573364
0.005,0.0,-434.833221,-413.820160,-424.157349,-424.157349,-368.895599,-698.902466,-448.303589,-405.397247,-407.011383,...,1475.649414,1490.090332,1489.714844,1296.356079,1309.030762,1633.129639,1493.261719,1548.741821,1514.562866,1559.557739
0.010,0.0,-434.704895,-413.736694,-424.063934,-424.063934,-368.790192,-698.741211,-448.119476,-405.200439,-406.868286,...,1475.577393,1490.085327,1489.729370,1296.340332,1309.088379,1634.349121,1492.591431,1548.664673,1514.453003,1559.516968
0.015,0.0,-434.571350,-413.641937,-423.964417,-423.964417,-368.675476,-698.574219,-447.930145,-405.003632,-406.717773,...,1475.497559,1490.078491,1489.739624,1296.321411,1309.143555,1635.688110,1491.846558,1548.571655,1514.340088,1559.450806
0.020,0.0,-434.432587,-413.535828,-423.858795,-423.858795,-368.551575,-698.401489,-447.735565,-404.806854,-406.559845,...,1475.410400,1490.070068,1489.745972,1296.300171,1309.196533,1637.146851,1491.026978,1548.462646,1514.223877,1559.359497
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24.285,0.0,-413.569672,-407.166626,-395.767883,-395.767883,-358.091675,-697.241150,-449.768951,-413.724731,-402.096741,...,1493.732056,1508.805176,1501.852051,1311.552612,1318.435425,1667.974854,1517.887573,1590.057373,1577.362915,1549.800781
24.290,0.0,-413.556488,-407.152893,-395.758881,-395.758881,-358.116028,-697.262268,-449.774353,-413.789856,-402.111969,...,1493.689087,1508.788452,1501.827515,1311.524902,1318.420288,1668.092163,1518.090942,1590.209839,1577.479248,1549.995483
24.295,0.0,-413.542694,-407.141510,-395.750427,-395.750427,-358.138245,-697.284729,-449.783295,-413.858032,-402.127869,...,1493.642822,1508.771118,1501.802612,1311.495728,1318.406128,1668.213013,1518.296143,1590.364990,1577.599365,1550.189941
24.300,0.0,-413.528351,-407.132477,-395.742645,-395.742645,-358.158539,-697.308716,-449.795929,-413.929413,-402.144470,...,1493.593994,1508.753296,1501.777710,1311.465454,1318.393311,1668.337646,1518.502930,1590.522705,1577.723022,1550.384155
24.305,0.0,-413.513428,-407.125824,-395.735474,-395.735474,-358.176727,-697.333984,-449.812103,-414.003723,-402.161682,...,1493.542236,1508.734985,1501.752686,1311.433838,1318.381714,1668.466064,1518.711426,1590.682983,1577.850464,1550.578003